<%= f.tr_select :types, PayeezyPost::TYPES.map { |k, v| [v, k, title: ' '] }, {label: 'Type(s)'}, multiple: true, style: 'width: 600px;' %>
<script>
	$('#filter_types').select2({
		closeOnSelect: false,
		allowClear: true
	})
</script>
<tr>
	<th>Status</th>
	<td>
		<%= partial 'field_chk_lbls', opts: [['Approved', '1'], ['Not Approved', '0']], field: 'filter[approved][]', vals: @filter.approved || [], lbl: 'active' %>
	</td>
</tr>