<%= partial 'application/filter_buttons' %>
<button name="process" value="report" formtarget="_blank"><%= fa 'print' %> Report</button>
<button name="process" value="late_fee" formtarget="_blank"><%= fa 'clock-o' %> Late Fee</button>