<div class="view clear">
	<%= dl 'Auto Late Fees', yn(o.late_auto) %>
	<%= dl 'Late Fee Email', o.late_email %>
</div>
<% if o.is_a?(QbTemplate) || o.late_auto %>
	<div class="view">
		<dl style="float: none;"><dt>Default Late Fee</dt></dl>
		<%= partial 'qb_late_fees/default_late_fee', o: o, tpl: tpl, prefix: 'late_' %>
	</div>
<% end %>