<% if params.context != 've_vehicle' %>
	<%= partial 've_vehicles/filter_ve_vehicle_ids', f: f %>
<% end %>
<tr>
	<th>Mileage Year</th>
	<td>
		<%= f.text_field :year, style: 'width: 80px;', class: 'tr' %>
		<% y = Time.now.year; y.downto(y - 4) { |i| %>
			&nbsp;&nbsp;<a href="#" class="year-value"><%= i %></a>
		<% } %>
	</td>
</tr>
<script>
	$('.year-value').click(function(e) {
		e.preventDefault();
		$('#filter_year').val($(this).text());
		$('#filter-form').submit();
	});
</script>