<%= f.tr_text_field :facility_type, label: 'Facility Type', req: true %>
<tr>
	<th>Fees</th>
	<td class="subform">
		<table>
			<tr>
				<th class="tr">Base Fee</th>
				<th class="tr">Half Fee</th>
				<th class="tr">Late Fee</th>
			</tr>
			<tr>
				<td><%= f.text_field :fee, class: 'n2', style: 'width: 70px;' %></td>
				<td><%= f.text_field :half_fee, class: 'n2', style: 'width: 70px;' %></td>
				<td><%= f.text_field :late_fee, class: 'n2', style: 'width: 70px;' %></td>
			</tr>
		</table>
	</td>
</tr>