<div id="custom-fields-list">
	<% DocTemplate.vars.each { |k, fields| %>
		<div class="fields-section">
			<h2><%= k %></h2>
			<% fields.in_groups(4) { |grp| %>			
				<ul>
					<% grp.each { |f| %>
						<% if f %>
							<li><a href="#">$$<%= f %>$$</a></li>
						<% end %>
					<% } %>
				</ul>
			<% } %>
		</div>
	<% } %>
</div>