<!-- BLOCK --><table id="eh-head" style="border-collapse: collapse; width: 100%; margin: 0; text-align: center; color: #006225; font-family: 'Times New Roman'; font-size: 16px;" cellspacing="0" cellpadding="0">
	<tr>
		<td rowspan="2" width="1%">
			<img src="<%= ROOT_PATH %>user/mc-logo-green-300x300.png" style="width: 1.3in; height: 1.3in;">
		</td>
		<td id="eh-head1" colspan="2" style="padding-right: 1.3in;">
			<strong><span style="font-size: 20px;">Department of Public Health</span></strong><br>
			<em><span style="font-size: 18px;">Monroe County, New York</span></em>
		</td>
	</tr>
	<tr>
		<td id="eh-head2">
			<strong>Cheryl Dinolfo</strong><br>
			<em>County Executive</em>
		</td>
		<td id="eh-head3">
			<strong>Michael D. Mendoza, MD, MPH, MS</strong><br>
			<em>Commissioner of Public Health</em>
		</td>
	</tr>
</table><!-- /BLOCK -->