<tr>
	<th>Vehicles</th>
	<td class="inp-row">
		<%= f.select :ve_vehicle_ids, @filter.ve_vehicle_ids.empty? ? [] : VeVehicle.where(id: @filter.ve_vehicle_ids).order('ve_vehicles.vehicle_no').map { |v| [v.vehicle_no, v.id, title: v.no_ymm_name] }, {include_hidden: false}, multiple: true, style: 'width: 400px;' %>
		<% if @filter.active %>
		 &nbsp;<label class="yes"><%= check_box_tag 'filter[active][]', '1', '1'.in?(@filter.active) %> Active</label>
		 &nbsp;<label class="no"><%= check_box_tag 'filter[active][]', '0', '0'.in?(@filter.active) %> Inactive</label>
		<% end %>
	</td>
</tr>
<script>
	var select = $('#filter_ve_vehicle_ids');
	var active_inactive = $('input[name="filter[active][]"]');
	select.select2({
		ajax: {
			url: '<%= url_for controller: :ve_vehicles, action: :autocomplete %>?',
			delay: 250,
			complete: function(xhr, status) {
				select.parent().children('.select2').removeClass('busy-bg');
			},
			beforeSend: function(xhr, settings) {
				select.parent().children('.select2').addClass('busy-bg');
			},
			data: function(params) {	
				var data = {term: params.term, page: params.page || 1}
				if(active_inactive.length) {
					var active_checked = active_inactive.find(':checked');
					if(active_checked.length == 1) {
						data.active = active_checked.val();
					}
				}
				else {
					data.active = 1;
				}
				return data;
			},
			processResults: function(data, params) {
				return {
					results: $.map(data.data, function(o) {
						var name = [o.vehicle_no, o.year, o.make, o.model, o.name ? ('(' + o.name + ')') : ''];
						name = $.grep(name, function(s) { return s; }).join(' ')
						return {
							title: name, 
							id: o.id, 
							text: name, 
							vehicle_no: o.vehicle_no,
						};
					}), 
					pagination: {more: data.page < data.pages}
				};
			},
		},
		templateSelection: function(data, li) {
			return data.vehicle_no || data.text;
		},
		closeOnSelect: false,
	});
</script>