<p>Click the button below to automatically assign unique colors to all active vehicles. Inactive vehicles will be colored black.</p>
<%= form_tag %>
	<table class="form">
		<td class="btns">
			<button type="submit" name="submit" value="submit"><i class="fa fa-paint-brush"></i> Assign Colors</button>
		</td>
	</table>
</form>