<table class="data">
	<thead>
		<tr>
		      <th>Description</th>
		      <th>Assigned to:</th>
		      <th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>">
				<td><%= link_to o.item_dec, :action => :view, :id => o.id  %></td>
				<td class="nobr"><%= Agent.find(o.agent_rec).full_name %></td>
				<td class="nobr"><%= o.status %></td>
			</tr>
		<% } %>
	</tbody>
</table>