<tr>
	<th>Show</th>
	<td>
		<label><%= f.radio_button :show, 'active' %> Active</label>&nbsp;&nbsp;&nbsp;
		<label><%= f.radio_button :show, 'inactive' %> Inactive</label>&nbsp;&nbsp;&nbsp;
		<label><%= f.radio_button :show, 'all' %> All</label>
	</td>
</tr>