<% content_for(:head) { %>
	<style>
		#home-btns { display: table; margin: 100px auto; border-collapse: separate; border-spacing: 8px; 
			font-size: 16px; line-height: 24px;
		}
		#home-btns a { white-space: nowrap; display: table-cell; border: 2px solid #888; text-decoration: none; text-align: center; 
			background: linear-gradient(#fff, #ddd); color: #444; width: 200px; height: 200px; vertical-align: middle; border-radius: 16px; 
			transition: background-position .2s; background-position: 0 0;
			background-repeat: repeat-x;
		}
		#home-btns a:hover { color: #000; background-position: 0 200px; }
		#home-btns a:active, #home-btns a:focus { border-color: #07f; }
		#home-btns i { font-size: 48px; line-height: 70px; }
	</style>
<% } %>
<div id="home-btns">
	<% if @current_user.ve_user? || @current_user.ve_admin?%>
		<a href="<%= url_for controller: :qb_transactions, action: :index, division: 'immunization' %>">
			<i class="fa fa-fw fa-3x fa-user"></i><br>
			Health Clinic<br> Immunizations<br>
		</a>
		<a href="<%= url_for controller: :qb_transactions, action: :index, division: 'tb' %>">
			<i class="fa fa-fw fa-3x fa-user"></i><br>
			Health Clinic<br> TB<br></span>
		</a>
	<% else %>
		<a href="#">
			<i class="fa fa-fw fa-3x fa-user"></i><br>
			Welcome<br> <br></span>
		</a>
	<% end %>
</div>