<div class="view">
	<%= dl 'ID', o.id %>
	<%= dl 'Red/Blue', lbl('viol_rb', o.red_blue) %>
	<%= dl 'Code/Section', o.code_section %>
</div>
<div class="view">
	<%= dl 'Violation', o.violation %>
</div>