<% o.name = 'Blank Template.pdf' if !request.post? && o.new_record? %>
<% use_controller = @obj.obj_type ? (@obj.obj_type.pluralize + 'Controller').constantize.new : nil %>
<%= f.tr_select :doc_template_id_or_action, doc_template_options(use_controller), label: 'Template', include_blank: 'Blank Template', tr: {class: 'generate'} %>
<% if !o.new_record? %>
	<tr>
		<th>Regenerate?</th>
		<td><label><%= check_box_tag 'obj[regenerate]', 1, o.regenerate %> 
		<% if o.is_a? Document %>
			Check to recreate the PDF document.
		<% else %>
			Check here to recreate all PDF documents. This will overwrite any changes made to individual documents.
		<% end %>
		</label></td>
	</tr>
<% end %>
<%= partial 'doc_templates/fields', f: f, o: o %>
<script>
	var set_file_name = function() {
		$('#obj_name').val($('#obj_doc_template_id_or_action option:selected').text() + '.pdf');
	}
	$('#obj_doc_template_id_or_action').change(function(e) {
		var $this = $(this);
		var tr = $this.closest('tr');
		var val = $this.val();
		if(val.match(/[^\d]/)) {
			$('.user-tpl').hide().find('input, textarea').prop('disabled', true);
			set_file_name();
			return;
		}
		$('.user-tpl').show().find('input, textarea').prop('disabled', false);		
		if(!val) {
			return;
		}
		var option = $this.find('option:selected');
		tr.addClass('busy-bg');
		$.ajax({
			url: '<%= url_for action: :apply %>/' + val,
			success: function(data, status, xhr) {
				$('#obj_body').val(data);
				CKEDITOR.instances.obj_body.setData(data);
				set_file_name();
				var margins = option.data('margins').split(',');
				$('#obj_margin_top').val(margins[0]);
				$('#obj_margin_bottom').val(margins[1]);
				$('#obj_margin_left').val(margins[2]);
				$('#obj_margin_right').val(margins[3]);
				set_margins();
			},
			complete: function(xhr, status) {
				tr.removeClass('busy-bg');
			},
			error: function(xhr, status, error) {
				alert('Error fetching template.')
			}
		})
	});
</script>