<%= partial 'application/filter_buttons' %>
<% if @objs.total_entries > 0 %>
<button type="submit" id="download_merged" name="process" value="download_merged"><i class="fa fa-download"></i> Download Merged</button>
<script>
	$('#download_merged').click(function(e) {
		var v = $('#list_ids').val();
		var count = v ? v.split(',').length : list_count;
		if(!confirm('Download merged PDF file containing ' + count + ' documents? This will on include PDF files.' )) {
			e.preventDefault();
		}
	});
	
</script>
<% end %>