<tr>
	<th>Event</th>
	<td>
		<%= select_tag 'filter[tf_event][]', 
			options_for_select(@filter.tf_event.map { |v| [v, title: ' '] }, @filter.tf_event), 
			multiple: true, id: 'filter-tf_event', style: 'width: 600px;' 
		%>
		<script>
			(function() {
				var select = $('#filter-tf_event');
				select.select2({
					ajax: {
						url: '<%= url_for controller: :tf_facilities, action: :autocomplete_event %>',
						delay: 250,
						complete: function(xhr, status) {
							select.parent().children('.select2').removeClass('busy-bg');
						},
						beforeSend: function(xhr, settings) {
							select.parent().children('.select2').addClass('busy-bg');
						},
						data: function(params) {
							return {term: params.term, page: params.page || 1};
						},
						processResults: function(data, params) {
							return {
								results: $.map(data.data, function(d) {
									return {title: ' ', id: d.event_name, text: d.event_name};
								}), 
								pagination: {more: data.page < data.pages}
							};
						}
					},
					closeOnSelect: false,
				});
			})();
		</script>
	</td>
</tr>