<table class="data">
	<thead>
		<tr>
			<th width="1%">ID</th>
			<th width="1%" class="tr">Lines</th>
			<th width="99%">Created</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>">
				<td class="nobr"><%= o.id %></td>
				<td class="nobr tr"><%= o.sap_lines_count %></td>
				<td class="nobr"><%= link_to blank_tag(o.created_at.dt), controller: :sap_exports, action: :view, id: o.id %></td>
			</tr>
		<% } %>
	</tbody>
</table>