<tr>
	<th>S/U</th>
	<td><%= partial 'tr_others/field_s_u', f: f, field: 'filter[s_u][]', vals: @filter.s_u || [] %></td>
</tr>
<tr>
	<th>Facility Type(s)</th>
	<td><%= f.select :facility_type, @model.where('facility_type != ""').order('facility_type').pluck('distinct facility_type'), {include_hidden: false}, style: 'width: 600px;', multiple: true %></td>
</tr>
<script>
	$('#filter_facility_type').select2({closeOnSelect: false});
</script>
<tr>
	<th>Activity Type(s)</th>
	<td><%= f.select :activity_type, @model.where('activity_type != ""').order('activity_type').pluck('distinct activity_type'), {include_hidden: false}, style: 'width: 600px;', multiple: true %></td>
</tr>
<script>
	$('#filter_activity_type').select2({closeOnSelect: false});
</script>