<%= partial 've_reservations/fields_shared', f: f, o: o %>
<% if @current_user.admin? %>
	<%= f.tr_select :user_id, User.where(o.user_id ? ['active = 1 or id = ?', o.user_id] : 'active = 1').order('first_name, last_name').map { |u| [u.name, u.id] }, label: 'Created By',
		after: '<div class="users-help-a" style="display: none;">Only this user (plus admins) will be able to edit/delete this availability.</div>' %>
<% end %>
<%= f.tr_text_area :notes, label: 'Notes' %>
<%= partial 've_reservations/schedule_builder', f: f %>