<tr>
	<th>Type</th>
	<td>
		<label><%= check_box_tag 'filter[availability][]', '0', '0'.in?(@filter.availability) %> Reservation</label>&nbsp;&nbsp;
		<label><%= check_box_tag 'filter[availability][]', '1', '1'.in?(@filter.availability) %> Availability</label>
	</td>
</tr>