<% if o.respond_to?(:db_groups) && !@db_groups_once %>
	<% @db_groups_once = true %>
	<tr>
		<th>Groups</th>
		<td>
			<%
				opts = o.class.db_groups.map { |g| [g.name, g.id, title: ' '] } + 
					o.new_db_group_ids.map { |id| id.class == String ? id[7..-1] : nil }.compact
			%>
			<%= f.select :new_db_group_ids, opts, {}, multiple: true, style: 'width: 400px;' %>
			<div>Select existing group(s) or enter a new group name and hit return.</div>
		</td>
	</tr>	
	<script>
		$('#obj_new_db_group_ids').select2({
			tags: true,
			createTag: function(params) {
				var term = $.trim(params.term);
				if(!term) return;
				return {id: '__NEW__' + term, text: term, title: ' '}
			}
		});
	</script>
<% end %>
