<% if o.respond_to?(:documents) && !@documents_once %>
	<% @documents_once = true %>	
	<%= form_tag context: o.class.to_s.underscore, controller: :documents, context_id: o.id, action: :all %>
		<div class="view">
			<dl>
				
			</dl>
		</div>
	</div>
	<% if !(@print && o.documents.empty?) %>
		<table class="data" id="documents-table">
			<thead>
				<tr>
					<th></th>
					<th width="97%">Click to download</th>
					<th width="1%">Created</th>
					<th width="1%">User</th>
				</tr>
			</thead>
			<tbody id="documents-queue"></tbody>
			<tbody id="documents">
				<% reset_cycle 'documents' %>
				<% o.documents.reorder('documents.sort, documents.created_at desc').each { |d| %>
					<%= partial 'document', d: d %>
				<% } %>
			</tbody>
		</table>
	<% end %>
	<% if !@print %>
		<script>
			var documents_url = '<%= url_for context: o.class.to_s.underscore, controller: :documents, context_id: o.id %>';
			init_sortable('#documents', documents_url + '/sort');
			function documents_visible() {
				$('#documents-table')[$('#documents-table tbody tr').size() > 0 ? 'show' : 'hide']();
				$('#download_all').prop('disabled', $('#documents tr').size() < 2);
			}
			documents_visible();
			var documents = $('#documents');
			documents.on('click', '.document-delete', function(e) {
				e.preventDefault();
				var tr = $(this).closest('tr');
				tr.addClass('busy-bg');
				if(confirm('Are you sure you want to delete this document?')) {
					$.ajax({
						url: documents_url + '/delete/' + tr.data('id'),
						method: 'POST',
						success: function(data, status, xhr) {
							tr.remove();
							documents_visible();
							zebra(documents);
						},
						error: function(xhr, status, error) {
							alert('Error deleting document.');
						},
						complete: function(xhr, status) {
							tr.removeClass('busy-bg');
						}
					});
				}
				else {
					tr.removeClass('busy-bg');
				}
			});
			documents.on('click', '.document-edit', function(e) {
				e.preventDefault();
				var tr = $(this).closest('tr');
				tr.addClass('busy-bg');
				var old_name = tr.find('.document-download').text();
				var name = prompt('Enter new file name:', old_name);
				if(name && name != old_name) {
					$.ajax({
						url: documents_url + '/edit/' + tr.data('id'),
						method: 'POST',
						data: {obj: {name: name}},
						success: function(data, status, xhr) {
							tr.replaceWith(data);
							zebra(documents);
						},
						error: function(xhr, status, error) {
							alert('Error editing document.');
						},
						complete: function(xhr, status) {
							tr.removeClass('busy-bg');
						}
					});
				}
				else {
					tr.removeClass('busy-bg');
				}
			});
			$('#file_doc_template_id_or_action').change(function(e) {
				var $this = $(this);
				var option = $this.find('option:selected')
				var file_name = option.text() + '.pdf';
				var temp_row = $('<tr class="busy-bg"><td></td><td colspan="3">' + file_name + '</td></tr>');
				$('#documents-queue').prepend(temp_row);
				documents_visible();
				var val = $this.val();
				var data = {'obj[doc_template_id_or_action]': val, 'obj[name]': file_name, 'obj[generated]': 1};
				if(!val.match(/[^\d]/)) {
					var margins = option.data('margins').split(',');
					data['obj[margin_top]'] = margins[0];
					data['obj[margin_bottom]'] = margins[1];
					data['obj[margin_left]'] = margins[2];
					data['obj[margin_right]'] = margins[3];
				}
				$.ajax({
					url: documents_url + '/new',
					data: data,
					method: 'POST',
					success: function(data, status, xhr) {
						$(data).prependTo(documents).effect('highlight');
					},
					complete: function(xhr, status) {
						temp_row.remove();
						documents_visible();
						zebra(documents);
					},
					error: function(xhr, status, error) {
						alert('Error generating document.');
					}
				});
				$this.val(null);
			});
			$('#document-new').fileupload({
				url: documents_url + '/new',
				paramName: 'obj[upload]',
				submit: function(e, data) {
					data.progress_row = $(
						'<tr class="busy-bg"><td></td><td colspan="3">' + data.files[0].name + ' (<span>0</span>%) <a href="#" class="cancel">cancel</a></td></tr>'
					);
					data.progress_row.find('a.cancel').click(function(e) {
						e.preventDefault();
						if(confirm('Are you sure you want to cancel the upload?')) {
							data.jqXHR.abort();
						}
					});
					$('#documents-queue').prepend(data.progress_row);
					documents_visible();
				},
				progress: function(e, data) {
					data.progress_row.find('span').text(parseInt(data.loaded / data.total * 100, 10));
				},	
				done: function(e, data) {
					$(data.result).prependTo(documents).effect('highlight');
					documents_visible();
				},
				fail: function(e, data) {
					if(data.errorThrown !== 'abort') {
						alert('Error uploading file: ' + data.files[0].name);
					}
				},
				always: function(e, data) {
					data.progress_row.remove();
					documents_visible();
					zebra(documents);
				}
			});
		</script>
	<% end %>
<% end %>