<% group_opts = @model.db_groups.map { |g| [g.name, g.id] } %>
<tr>
	<th>Groups</th>
	<td>
		<%= f.select :db_group_id, group_opts, include_blank: 'Load Group...' %>
		<%= hidden_field_tag 'group_op', '' %>
		<%= hidden_field_tag 'group_name', '' %>
		<% if @db_group %>
			<a href="#" id="group-edit" title="Update Saved Group"><i class="fa fa-fw fa-pencil-square"></i></a>
			<a href="#" id="group-delete" title="Delete Saved Group" class="red"><i class="fa fa-fw fa-minus-square"></i></a>
			<a href="#" id="group-remove" title="Remove From Saved Group" class="red"><i class="fa fa-fw fa-times"></i></a>
		<% end %>
		<%= select_tag 'alter_db_group_id', options_for_select([['New/Add To Group...', ''], ['+ New Group', 'new']] + group_opts) %>
	</td>
</tr>
<script>
	$('#filter_db_group_id').change(function(e) {
		$('#filter-form').submit();
	});
	$('#alter_db_group_id').change(function(e) {
		var $this = $(this);
		if($this.val() == 'new') {
			var name = prompt('Enter a name for the new group.');
			if(!name) {
				$this.val('');
				return;
			}
			$('#group_name').val(name);
		}
		$('#filter-form').submit();
	});
	$('#group-edit').click(function(e) {
		e.preventDefault();
		var name = prompt('Group will be re-saved with selected items. Enter a new name for the group.', $('#filter_db_group_id option:selected').text());
		if(!name) {
			$this.val('');
			return;
		}
		$('#group_op').val('edit');
		$('#group_name').val(name);
		$('#filter-form').submit();
	});
	$('#group-delete').click(function(e) {
		e.preventDefault();
		if(confirm('Are you sure you want to delete this group?')) {
			$('#group_op').val('delete');
			$('#filter-form').submit();
		}
	});
	$('#group-remove').click(function(e) {
		e.preventDefault();
		if(confirm('Remove the selected items from the group?')) {
			$('#group_op').val('remove');
			$('#filter-form').submit();
		}
	});	
</script>