<%= partial 'errors', :errors => o.errors.full_messages %>
<%= table_form_for(:obj) { |f| %>
	<%= partial 'fields', f: f, o: o %>	
	<%= partial 'document_field', f: f, o: o %>
	<tr>
		<th></th>
		<td class="btns">
			<button type="submit"><i class="fa fa-save"></i> Save Changes</button>
			<% if @obj.new_record? %>
				<button type="submit" name="save_copy" value="save_copy"><i class="fa fa-save"></i> Save & Clone</button>
				<button type="submit" name="save_new" value="save_copy"><i class="fa fa-save"></i> Save & Create Another</button>
			<% end %>
		</td>
	</tr>	
<% } %>
