<%= partial 'errors', :errors => o.errors.full_messages %>
<%= table_form_for(:obj, html: {id: 'obj_form'}) { |f| %>
	<%= partial 'fields', f: f, o: o %>	
	<%= partial 'document_field', f: f, o: o %>
	<tr>
		<th></th>
		<td class="btns">
			<button type="submit"><i class="fa fa-save"></i> Save Changes</button>
		</td>
	</tr>	
<% } %>
