<table class="data">
	<thead>
		<tr>
			<th width="1%">ID</th>
			<th width="99%">Name</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>">
				<td><%= o.id %></td>
				<td>
          <%= link_to o.label, {action: :download, id: o.id}, class: 'document-download', target: '_blank' %>
        </td>
			</tr>
		<% } %>
	</tbody>
</table>