<% url = {context: context, controller: controller} %>
<% if obj && !obj.new_record? %>
	<% url.id = obj.id %>
	<div class="tabs" id="obj-tabs">
		<%= tab 'search', 'View', url + {action: :view} %>
		<% if @current_user.ve_user? || @current_user.ve_admin? || @current_user.admin? %>
			<%= tab 'edit', 'Edit', url + {action: :edit} if obj.can_edit? @current_user %>
			<% if "admin".eql?(@current_user.level) %>
			  <%= tab 'trash', 'Delete', url + {action: :delete} if obj.can_destroy? @current_user %>
				<% if !params.popup %>
					<% if obj.respond_to?(:documents) %>
						<%= tab 'file-text-o', 'Docs', {controller: :documents}, action: :index, context: "docs" %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		<div class="clear"></div>
	</div>
<% end %>