<% url = {context: context, controller: controller} %>
<div class="tabs" id="objs-tabs">
	<%= partial 'nav_pre', obj: obj, model: model, context: context, controller: controller, context_obj: context_obj %>
	<% if "sap_exports".eql?(params.controller) && params.id.to_i > 0 && params[:context].blank? %>
		<% url = url + {context: session[:context]}  %>
	<% elsif (["sap_exports", "reports"] & [session[:context], params[:context]]).present? %>
		<% if @filter.date_type && @filter.date_type.include?("cutoff_date") %>
			<% url = url  + {context: "sap_exports"} %>
		<%elsif @filter.date_type %>
			<% url = url  + {context: "reports"} %>
		<%else%>
			<% url = url %>
		<%end%>
	<% elsif [params[:context], session[:context]].include?("payment_history") %>
		<% url = {context: "payment_history", controller: "qb_transactions"}  %>
		<% session[:context] ||= params[:context] %>
	<%else%>
		<% session[:context] ||= params[:context] %>
	<%end%>
	<%= tab 'list', 'List', url + {action: :index} %>
	<% if ((!(context && !context_obj) || params.controller == 'db_groups') && params.context.blank?) || "sales".eql?(context) %>
		<%= tab 'plus-circle', 'New', url + {action: :new} if model.can_create? @current_user, context_obj %>
	<% end %>
	<%= partial 'nav1', obj: obj, model: model, context: context, controller: controller, context_obj: context_obj %>
	<div class="clear"></div>
</div>