<table class="data">
	<thead>
		<tr>
			<th width="1%">ID</th>
			<th width="1%">Division</th>
			<th width="99%">Category : Subcategory</th>
		</tr>
	</thead>
	<tbody>
		<% reset_cycle %>
		<% objs.each { |o| %>
			<tr class="<%= cycle 'odd', 'even' %>">
				<td class="nobr"><%= o.id %></td>
				<td class="nobr"><%= o.division %></td>
				<td><%= link_to blank_tag(o.label), action: :view, id: o.id %></td>
			</tr>
		<% } %>
	</tbody>
</table>